{% extends 'base.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <h3>Funkprotokoll {{ game.name }} vom {{ game.createdAt|format_datetime('short', 'none') }}</h3>
        </div>
    </div>
    <protocol ref="Protocol" submit-form-query="form[name='protocol']">
    <div class="row">
        {% if game.closedAt is null %}
            <div class="col-4">
                <div class="card-body position-fixed bg-white border-top protocol-form" style="width: 15%; min-width: 380px;">
                    {{ form_errors(form) }}

                    {{ form_start(form, {'action': path('protocol_index', {'game': game.id})}) }}
                    {{ form_errors(form.content) }}
                    <div class="form-group">{{ form_widget(form.sender, {'attr': {'tabindex': 1, '@keydown.ctrl.67': "$refs.Protocol.reset();", '@keydown.ctrl.13': "$refs.Protocol.submit();"}}) }}</div>
                    <div class="form-group">{{ form_widget(form.content, {'attr': {'tabindex': 2, '@keydown.ctrl.67': "$refs.Protocol.reset();", '@keydown.ctrl.13': "$refs.Protocol.submit();"}}) }}</div>
                    <div class="form-group">{{ form_widget(form.recipent, {'attr': {'tabindex': 3, '@keydown.ctrl.67': "$refs.Protocol.reset();", '@keydown.ctrl.13': "$refs.Protocol.submit();"}}) }}</div>
                    <div>
                        <button type="submit" class="btn btn-block btn-secondary" tabindex="3" data-check-form="protocol">Speichern</button>
                    </div>
                    {{ form_end(form) }}
                    <p class="mt-5">
                        <strong>STRG + C</strong>: Abbrechen einer Eingabe<br />
                        <strong>STRG + Return</strong>: Absenden des Formulars
                    </p>
                    <span id="focusguard" tabindex="5" @focus="$refs.Protocol.focusguard();"></span>
                </div>
            </div>
        {% endif %}

        <div class="{% if game.closedAt is null %}col-8{% else %}col-12{% endif %}">
            {% for protocol in protocol_list %}
                <div class="row protocol-entry">
                    <div class="col-12">
                        <div class="card p-3 mb-1">
                            <div class="media">
                                <div class="media-body">
                                    <div class="media-heading">
                                        <small class="float-right text-muted text-right">
                                            {{ protocol.createdAt|ago }} - {{ protocol.createdAt|format_datetime('none', 'short') }}
                                            {% if game.closedAt is null %}
                                                &nbsp;<a href="#" data-id="{{ protocol.id }}" data-highlite="card" class="btn btn-success btn-sm no-loader" @click="$refs.Protocol.addChildEntry($event.currentTarget);"><i class="fas fa-plus"></i></a>
                                            {% endif %}
                                        </small>
                                        <h5 class="mb-0">Von <span class="bold protocol-sender">{{ protocol.sender ?: '10' }}</span> an <span class="bold protocol-recipent">{{ protocol.recipent ?: (protocol.sender is empty ? 'alle' : '10') }}</span></h5>
                                    </div>
                                    <div class="protocol-content">{{ protocol.content|nl2br }}</div>
                                    {% if protocol.children|length > 0 %}
                                        <ul class="media-list mt-4 ml-5 protocol-entry-replies">
                                            {% for protocolChild in protocol.children %}
                                                <li class="media mt-4">
                                                    <div class="media-body border-left pl-3 mb-3">
                                                        <small class="float-right text-muted">{{ protocolChild.createdAt|ago }} - {{ protocolChild.createdAt|format_datetime('none', 'short') }}</small>
                                                        <strong>Von <strong>{{ protocolChild.sender ?: '10' }}</strong> an <strong>{{ protocolChild.recipent ?: (protocolChild.sender is empty ? 'alle VDO' : 'VDO 10') }}</strong></strong>
                                                        <div>{{ protocolChild.content|nl2br }}</div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <li class="list-group-item py-5">
                    <div class="media">
                        <div class="media-body">
                            <div class="alert alert-info">
                                Keine Einträge bisher
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </div>
    </div>
    </protocol>

{% endblock %}
