{% extends 'base.html.twig' %}

{% block content %}
    <div class="row row-cards">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Übersicht der Spiele</h3>
                    <div class="card-options">
                        <a href="{{ path('game_new') }}" class="btn btn-success btn-sm" title="Neues Spiel"><i class="fas fa-plus"></i> Neues Spiel</a>
                    </div>
                </div>
                <div>
                    <table class="table table-vcenter card-table">
                            <thead>
                                <tr>
                                    <th>Spiel</th>
                                    <th>Standorte</th>
                                    <th>Erstellt am</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for game in games %}
                                <tr>
                                    <td>{{ game.name }}</td>
                                    <td>{{ game.mapNames|join(', ')|default('Keine Angabe') }}</td>
                                    <td>{{ game.createdAt|format_datetime('short', 'none') }}</td>
                                    <td class="text-end">
                                        <a href="{{ path('protocol_index', {'game': game.id}) }}"  title="Das Protokoll zum Spiel öffnen" class="btn btn-primary btn-sm"><i class="fas fa-clipboard-check"></i>&nbsp;Funkprotokoll</a>
                                        <span class="dropdown">
                                            <button class="btn btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Aktionen</button>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item no-loader" href="{{ path('game_export', {'id': game.id}) }}" title="Die Daten zum Spiel nach Excel exportieren">
                                                    <i class="dropdown-icon fas fa-file-excel"></i>&nbsp;Exportieren
                                                </a>
                                                {% if game.closedAt is null %}
                                                    <a class="dropdown-item" href="{{ path('game_edit', {'id': game.id}) }}" title="Das Spiel bearbeiten">
                                                        <i class="dropdown-icon fas fa-edit"></i>&nbsp;Bearbeiten
                                                    </a>
                                                    <a class="dropdown-item" href="{{ path('game_lock', {'id': game.id}) }}" title="Das Spiel vor Bearbeitung sperren">
                                                        <i class="dropdown-icon fas fa-lock"></i>&nbsp;Sperren
                                                    </a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item text-danger game-delete" href="{{ path('game_delete', {'id': game.id}) }}" title="Das Spiel löschen">
                                                        <i class="dropdown-icon fas fa-trash-alt"></i>&nbsp;Löschen
                                                    </a>
                                                {% else %}
                                                    <a class="dropdown-item" href="{{ path('game_unlock', {'id': game.id}) }}" title="Das Spiel zur Bearbeitung freigeben">
                                                        <i class="dropdown-icon fas fa-unlock"></i>&nbsp;Entsperren
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3">Keine Spiele gefunden</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
